@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    letter-spacing: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 14px;
    border-radius: 20px;
    background: rgb(255, 255, 255, 0.05);
    color: azure;
    border: 2px double white;
    backdrop-filter: blur(10px);
    margin-left: 20%;

}
h1{
    text-align: center;
}
h1 span {
    position: relative;
    font-size: 50px;
    color: #fff;
}
.heading-container{
    border-radius: 15px;
    border: 2px solid red;
    width:700px;
    height:300px;
    box-shadow: 2px 3px 5px 4px grey;
    cursor: pointer;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
            0 2px 0 #CCC,
            0 3px 0 #CCC,
            0 4px 0 #CCC,
            0 5px 0 #CCC,
            0 6px 0 #CCC,
            0 7px 0 #CCC,
            0 8px 0 #CCC,
            0 9px 0 #CCC,
            0 50px 25px rgba(0, 0, 0, 0.2);
    }
}



.line-1 {
    position: absolute;
    top: 95%;
    left: 85%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 16px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

p {
    color: azure;
}


.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.credit {
    opacity: 20%;
}

@media screen and(min-width:600px) {
    .line-1 {
        width: 24em;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, .75);
        font-size: 16px;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
    }

    p {
        color: azure;
    }


    .anim-typewriter {
        animation: typewriter 4s steps(44) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 11em;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, .75);
        }

        to {
            border-right-color: transparent;
        }
    }

    .credit {
        opacity: 30%;
    }
}

