body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.card-design {
    background: rgb(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
}

.input-container {
    width: 280px;
    position: relative;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;

}

.label::before {
    content: "";
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #fff;
}

.text-input:focus+.label,
.filled {
    color: grey;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 1;
    transition: all 5s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

.form {
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    height: 690px;
    width: 390px;
}

.container1 {
    display: flex;
    justify-content: center;
}

.c-btn {
    font-family: inherit;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    transition: all .5s ease-in-out;
}

.c-btn:hover {
    color: #fff;
    background: rgba(211, 211, 211, 0.185);
    transition: 1s;
    box-shadow: 0px 0px 3px 1px #fff;
}

.line-1 {

    width: 24em;
    margin: 0 auto;
    font-size: 17px;
    line-break: anywhere;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

p {
    color: azure;
}


.anim-typewriter {
    animation: typewriter 5s steps(44) 1s 1 normal both,
        blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 20.6em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}